html,
body {
  margin: 0;
  padding: 0;
  background-color: #161616;

}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

header {
  background-color: transparent;
  width: 100%;
  height: 5vw;
  max-height: 100px;
  border-bottom: 1px solid #fed72800;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  backdrop-filter: blur(2px);
  margin-bottom: 2%;

  &:hover {
    transition: 1s;
    backdrop-filter: blur(15px);
    transform: scale(1.2, 1.2);

  }
}

.logo img {
  width: 20vw;
  max-width: 240px;

}

.logo h1 {
  font-family: 'bungee';
  animation: revelarTexto 3s ease-out forwards;
  color: #FED728;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'bungee';
  src: url('/Font/Bungee_Shade/BungeeShade-Regular.ttf');
}

@keyframes revelarTexto {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  100% {
    clip-path: inset(0 0% 0 0);
    opacity: 1;
  }
}

.slider-container {
  width: 1400px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
}

.slide.active {
  display: flex;
   flex-direction: column;
  justify-content: start;
}

.slide1 {
  background-color: #3e3d3d;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.titulo {
  border-bottom: 1px solid #161616;
  width: 100%;
  padding: 15px;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10,.slide11,.slide12 {
  background-color: #3e3d3d;
}
h2 {
  text-align: center;
}

.alternativas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 255, 255, 0);
  height: 80%;

}

.alt1,
.alt2,
.alt3 {
  border-bottom: 1px solid black;
  width: 100%;
  height: 20%;
  background-color: #fed72800;
  text-align: center;
  
  /* padding-left: 3vw; */
  

}

.alt4 {
  width: 100%;
  height: 20%;
  background-color: #fed72800;
  text-align: center;
  /* padding-left: 3vw; */
}

input {
  display: inline;
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 2%;
  accent-color: #FED728;
  
}
label{
  display: inline-block;
  font-size: 1.3vw;
  width: 100%;
}

/* Botões */
.buttons {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 18px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
form {
    display: contents;
}